# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.*

# IDE
.vscode/
.idea/

# Cache
.eslintcache
.cache
.npm

# Uploads
uploads/